# PostgreSQL
POSTGRES_USER=trocdeal
POSTGRES_PASSWORD=trocdeal_secret
POSTGRES_DB=trocdeal

# Prisma
DATABASE_URL=postgresql://trocdeal:trocdeal_secret@db:5432/trocdeal

# Nuxt Auth (min 32 chars)
NUXT_SESSION_PASSWORD=changez-moi-avec-un-vrai-secret-de-32-caracteres-minimum
