# PostgreSQL
POSTGRES_USER=ScamMarket
POSTGRES_PASSWORD=ScamMarket_secret
POSTGRES_DB=ScamMarket

# Prisma
DATABASE_URL=postgresql://ScamMarket:ScamMarket_secret@db:5432/ScamMarket

# Nuxt Auth (min 32 chars)
NUXT_SESSION_PASSWORD=changez-moi-avec-un-vrai-secret-de-32-caracteres-minimum
